<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <style>body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}</style>
    <h1>Login Page</h1>
    <% if (locals.error) {%>
        <label style="color: red;"> <%= locals.error %> </label>
    <% }%>
    <form method="post" action="/user/login">
        <label>Email:</label>
        <input type="text" name="email" placeholder="Enter your Email" required>
        <label>Password:</label>
        <input type="text" name="password" placeholder="Enter your Password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>